<section class="vegetables-section" id="vegetables">
  <div class="container">
    <h2 class="section-title">organic <span>vegetables</span></h2>
    <p class="vegetables-section-text">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>
    <ul class="vegetables-list">
      <li class="vegetables-item">
        <h3 class="vegetables-subtitle">eggplant</h3>
        <p class="vegetables-text">60 uah/kg</p>
        <img
          srcset="
            ./img/vegetables.img/eggplant.png    1x,
            ./img/vegetables.img/eggplant@2x.png 2x
          "
          src="./img/vegetables.img/eggplant.png"
          alt="eggplant"
          width="282"
          height="243"
        />
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-subtitle">leek</h3>
        <p class="vegetables-text">50 uah/kg</p>
        <img
          srcset="
            ./img/vegetables.img/leek.png    1x,
            ./img/vegetables.img/leek@2x.png 2x
          "
          src="./img/vegetables.img/leek.png"
          alt="leek"
          width="282"
          height="243"
        />
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-subtitle">mushrooms</h3>
        <p class="vegetables-text">40 uah/kg</p>
        <img
          srcset="
            ./img/vegetables.img/mushrooms.png    1x,
            ./img/vegetables.img/mushrooms@2x.png 2x
          "
          src="./img/vegetables.img/mushrooms.png"
          alt="mushrooms"
          width="282"
          height="243"
        />
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-subtitle">corn</h3>
        <p class="vegetables-text">60 uah/kg</p>
        <img
          srcset="
            ./img/vegetables.img/corn.png    1x,
            ./img/vegetables.img/corn@2x.png 2x
          "
          src="./img/vegetables.img/corn.png"
          alt="corn"
          width="282"
          height="243"
        />
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-subtitle">sweet potatoes</h3>
        <p class="vegetables-text">50 uah/kg</p>
        <img
          srcset="
            ./img/vegetables.img/potatoes.png    1x,
            ./img/vegetables.img/potatoes@2x.png 2x
          "
          src="./img/vegetables.img/potatoes.png"
          alt="potatoes"
          width="282"
          height="243"
        />
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-subtitle">carrot</h3>
        <p class="vegetables-text">40 uah/kg</p>
        <img
          srcset="
            ./img/vegetables.img/carrot.png    1x,
            ./img/vegetables.img/carrot@2x.png 2x
          "
          src="./img/vegetables.img/carrot.png"
          alt="carrot"
          width="282"
          height="243"
        />
      </li>
    </ul>
  </div>
</section>
