<footer class="footer">
  <div class="footer-container container">
    <div>
      <a class="logo-link" href="./index.html">
        <svg class="logo-icon" width="16" height="16">
          <use href="./img/sprite.svg#icon-logo.svg"></use>
        </svg>
        <svg class="logo-text" width="148" height="12">
          <use href="./img/sprite.svg#icon-logo-text.svg"></use>
        </svg>
      </a>
      <p class="footer-text">
        Whether you're looking for a healthy snack or a thoughtful gift, our
        fruit baskets are the perfect choice.
      </p>
    </div>

    <div class="nav-add">
      <nav class="footer-navigation">
        <ul class="footer-list">
          <li>
            <a class="footer-link" href="#works">How It Works</a>
          </li>
          <li>
            <a class="footer-link" href="#vegetables">Vegetables</a>
          </li>
          <li>
            <a class="footer-link" href="#reviews">Reviews</a>
          </li>
        </ul>
      </nav>
      <address class="footer-address">
        <ul class="address-list">
          <li>
            <a class="footer-add" href="tel:+380684439426"
              >+380 (68) 443-94-26</a
            >
          </li>
          <li>
            <a
              class="footer-add"
              target="_blank"
              href="https://maps.app.goo.gl/GiQVn1s6yyVKMvyG9"
              >1678 S. Pioneer Road Salt Lake City UT 84104</a
            >
          </li>
        </ul>
      </address>
    </div>
  </div>
  <div class="footer-bottom container">
    <ul class="footer-bottom-list">
      <li>
        <a class="footer-bottom-link" href="">
          Privacy Policy <span class="footer-span">&#47;</span></a
        >
      </li>
      <li><a class="footer-bottom-link" href="">Cookie settings</a></li>
    </ul>
    <p class="footer-bottom-text"><span>&#xa9;</span>Green Harvest 2023</p>
  </div>
</footer>
