.backdrop.is-closed {
  display: none;
}

.top {
  position: absolute;
  width: 100%;
  padding-top: 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-link {
  display: flex;
  align-items: center;
  gap: 4px;
}
.logo-icon,
.logo-text {
  fill: var(--light-text-color);
}

.btn-menu {
  border: none;
  background-color: transparent;
}

.icon-burger {
  stroke: var(--light-text-color);
}

.nav-container {
  display: none;
  align-items: center;
}

.button-header {
  padding: 16px 32px;
  border-radius: 30px;
  background-color: var(--red-background);
  border: none;
  color: var(--light-text-color);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-header:hover,
.button-header:focus {
  background-color: #622133;
}

.header-list {
  display: flex;
  gap: 8px;
}

.header-link {
  padding: 12px;
  border-radius: 12px;
  border: 1px solid rgba(251, 251, 251, 0.4);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: 0.02em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover,
.header-link:focus {
  border-color: rgba(251, 251, 251, 0.2);
  background-color: var(--light-text-color);
  color: var(--red-background);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.backdrop {
  display: flex;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  opacity: 0;
  background-color: rgba(20, 20, 20, 0.4);
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-mobile {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--red-background);
  /* width: 100%; */
  height: 100%;
  padding: 240px 0 40px;
  width: 200px;
  right: 0;
}

.btn-close {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 20px;
  right: 20px;
}

.icon-close {
  stroke: var(--light-text-color);
}

.nav-mobile {
  margin-bottom: auto;
}

.menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.menu-link {
  width: 115px;
  display: flex;
  justify-content: center;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 12px;
  border: 1px solid rgba(251, 251, 251, 0.4);
  font-size: 14px;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: 0.02em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-menu-mobile {
  padding: 16px 41px;
  border-radius: 30px;
  border: 1px solid rgba(251, 251, 251, 0.2);
  background-color: transparent;
  color: var(--light-text-color);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-menu-mobile:hover,
.button-menu-mobile:focus,
.menu-link:hover,
.menu-link:focus {
  border-color: rgba(251, 251, 251, 0.2);
  background-color: var(--light-text-color);
  color: var(--red-background);
}

@media screen and (min-width: 768px) {
  .top {
    padding-top: 32px;
  }

  .icon-burger {
    width: 40px;
    height: 40px;
  }

  .logo-link {
    gap: 8px;
  }

  .logo-icon {
    width: 18px;
    height: 18px;
  }

  .logo-text {
    width: 168px;
    height: 18px;
  }

  .menu-link {
    font-size: 16px;
  }

  .btn-close {
    position: absolute;
    top: 32px;
    right: 32px;
  }

  .icon-close {
    width: 40px;
    height: 40px;
  }

  .menu-mobile {
    right: 0;
    width: 351px;
    padding: 360px 0 50px;
  }
}

@media screen and (min-width: 1280px) {
  .btn-menu {
    display: none;
  }

  .nav-container {
    display: flex;
    gap: 20px;
  }
  .backdrop {
    display: none;
  }
}
