.hero {
  color: #fbfbfb;
  background-color: #576f35;
}

.container {
  padding-top: 100px;
  padding-bottom: 40px;
}

.hero-title {
  font-size: 48px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.015em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.hero-text {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
}

.hero-img {
  background: linear-gradient(
      0deg,
      rgba(20, 20, 20, 0.2) 0%,
      rgba(20, 20, 20, 0.2) 100%
    ),
    url(./images/hero-mob.jpg),
    lightgray -21.701px -17.796px / 115.12% 121.468% no-repeat;
  width: 375px;
  height: 370px;
  margin: 0 auto;
  background-size: 375px 370px;
}

@media (min-resolution: 192dpi) {
  .hero-img {
    background: linear-gradient(
        0deg,
        rgba(20, 20, 20, 0.2) 0%,
        rgba(20, 20, 20, 0.2) 100%
      ),
      url(./images/hero-mob@2x.jpg),
      lightgray -21.701px -17.796px / 115.12% 121.468% no-repeat;
    width: 375px;
    height: 370px;
    background-size: 375px 370px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding-top: 122px;
    padding-bottom: 50px;
    width: 768px;
  }

  .hero-title {
    font-size: 76px;
    margin-bottom: 20px;
  }

  .hero-text {
    font-size: 16px;
    line-height: 1.25;
  }

  .hero-img {
    background: linear-gradient(
        0deg,
        rgba(20, 20, 20, 0.2) 0%,
        rgba(20, 20, 20, 0.2) 100%
      ),
      url(./images/hero-tab.jpg),
      lightgray -21.701px -17.796px / 115.12% 121.468% no-repeat;
    width: 768px;
    height: 539px;
    background-size: 768px 539px;
  }

  @media screen and (min-resolution: 192dpi) {
    .hero-img {
      background: linear-gradient(
          0deg,
          rgba(20, 20, 20, 0.2) 0%,
          rgba(20, 20, 20, 0.2) 100%
        ),
        url(./images/hero-tab@2x.jpg),
        lightgray -21.701px -17.796px / 115.12% 121.468% no-repeat;
      width: 768px;
      height: 539px;
      background-size: 768px 539px;
    }
  }
}

@media screen and (min-width: 1280px) {
  .hero {
    display: flex;
    gap: 28px;
    margin: 0 auto;
  }

  .container {
    width: 602px;
    margin-right: 0;
    padding-right: 0;
  }

  .hero-title {
    margin-bottom: 128px;
  }

  .hero-img {
    background: linear-gradient(
        0deg,
        rgba(20, 20, 20, 0.2) 0%,
        rgba(20, 20, 20, 0.2) 100%
      ),
      url(./images/hero-desk.jpg),
      lightgray -21.701px -17.796px / 115.12% 121.468% no-repeat;
    width: 650px;
    height: 800px;
    background-size: 650px 800px;
    margin-left: 0;
  }

  @media screen and (min-resolution: 192dpi) {
    .hero-img {
      background: linear-gradient(
          0deg,
          rgba(20, 20, 20, 0.2) 0%,
          rgba(20, 20, 20, 0.2) 100%
        ),
        url(./images/hero-desk@2x.jpg),
        lightgray -21.701px -17.796px / 115.12% 121.468% no-repeat;
      width: 650px;
      height: 800px;
      background-size: 650px 800px;
    }
  }
}
