.how-it-work {
  min-width: 320px;
  background: linear-gradient(
    to bottom,
    var(--red-background) 0% 44.76%,
    var(--green-background) 44.76% 100%
  );
}

.section-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.work-image-conteiner {
  padding: 40px 0px;
}

.work-picture {
  height: 450px;
}

.container-img {
  height: 450px;
  position: relative;
}

.overlay {
  display: flex;
  position: absolute;
  top: 0;
  background-image: linear-gradient(
    0deg,
    rgba(20, 20, 20, 0.3) 0%,
    rgba(20, 20, 20, 0.3) 100%
  );
  height: 100%;
  width: 100%;
  border-radius: 30px;
}
.work_photo {
  border-radius: 30px;
  height: 450px;
}

.work-conteiner {
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 0px;
  padding-right: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.work-subtitle {
  color: var(--light-text-color);
  font-size: 28px;

  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.015em;
  text-transform: uppercase;
  margin-bottom: 20px;
  max-width: 335px;
}

.subtitle-span {
  color: rgba(251, 251, 251, 0.3);
  font-size: 28px;

  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.015em;
  text-transform: uppercase;
}

.work-text {
  color: var(--light-text-color);
  font-size: 14px;
  text-transform: none;
  font-weight: 500;
  line-height: 1.29;
  margin-bottom: 40px;
  letter-spacing: -0.02em;
  max-width: 335px;
}

.work-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  counter-reset: number 0;
}

.work-item {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 27px;
  border-radius: 15px;
  background-color: var(--light-text-color);
  text-align: start;
  display: flex;
  align-items: center;
  gap: 24px;
  counter-increment: number;
}

.work-item:nth-child(2) {
  padding-right: 59px;
}

.work-item:nth-child(3) {
  padding-right: 24px;
}

.work-item::before {
  content: counter(number);
  color: var(--light-text-color);
  font-size: 20px;

  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.05em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: var(--red-background);
  border: 5px solid rgba(211, 190, 196, 1);
  flex-shrink: 0;
}

.work-item-text {
  color: rgba(20, 20, 20, 0.6);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: -0.024px;
  text-align: start;
}

.span-work-text {
  color: var(--black-text-color);
  font-size: 12px;

  font-weight: 700;
  line-height: 1.17;
  letter-spacing: -0.024px;
  text-transform: none;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .work-item {
    max-width: 335px;
  }

  .work-picture {
    max-width: 335px;
  }

  .container-img {
    max-width: 335px;
  }

  .work_photo {
    width: 100hv;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }

  .how-it-work {
    background: linear-gradient(
      to bottom,
      var(--red-background) 0% 54.64%,
      var(--green-background) 54.64% 100%
    );
  }
  .work-image-conteiner {
    padding: 100px 32px;
  }

  .work-picture {
    width: 640px;
    height: 640px;
  }

  .container-img {
    width: 640px;
    height: 640px;
  }

  .work_photo {
    width: 640px;
    height: 640px;
  }

  .work-conteiner {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .work-subtitle {
    font-size: 32px;
    margin-bottom: 25px;
    max-width: 450px;
  }

  .subtitle-span {
    font-size: 32px;
  }

  .work-text {
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 50px;
    max-width: 450px;
  }

  .work-item {
    width: 450px;
    padding-right: 25px;
  }

  .work-item:nth-child(2) {
    padding-right: 27px;
  }

  .work-item:nth-child(3) {
    padding-right: 27px;
  }

  .work-item-text {
    font-size: 16px;
    line-height: 1.25;
  }

  .span-work-text {
    font-size: 16px;
    line-height: 1.25;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 100px;
  }

  .how-it-work {
    background: linear-gradient(
      to right,
      var(--red-background) 0% 44.76%,
      var(--green-background) 44.76% 100%
    );
  }

  .section-main-container {
    flex-direction: row;
  }

  .work-image-conteiner {
    padding: 0;
    padding-left: 0;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-right: 100px;
    background-color: var(--red-background);
  }

  .work-picture {
    width: 430px;
    height: 559px;
  }

  .container-img {
    width: 430px;
    height: 559px;
  }

  .work_photo {
    width: 430px;
    height: 559px;
  }

  .work-conteiner {
    background-color: var(--green-background);
    padding-top: 100px;
    padding-bottom: 160px;
    padding-left: 100px;
    padding-right: 0px;
  }
}
