.advertisement-container {
    padding: 80px 0px;
    width: 355px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
} 

.advertisement-text {
    font-size: 48px;
    font-weight: 600;
    line-height: 1.04;
    letter-spacing: -0.015em;
    /* text-align: left; */
    color: #141414;
    text-transform: uppercase;
}

.advertisement-span { 
    color: #FBFBFB;
    border-radius: 12px;
    background-color:#576F35;
    display: block;
    padding-top: 3px;
}

@media screen and (min-width: 768px) {
    .advertisement-container {
        width: 768px;
        padding: 100px 0;
     }

    .advertisement-text {
        font-size: 64px;
        line-height: 1.09;
        letter-spacing: -0.015em;
        width: 704px;
    }

    .advertisement-span {
        display: inherit;
    }
}

@media screen and (min-width: 1280px) {
    .advertisement-container {
        width: 1280px;
        padding: 100px 0;
    }

    .advertisement-text {
        width: 1054px;
        font-size: 76px;
        line-height: 1.05;
        letter-spacing: -0.015em;
    }

    .advertisement-span {
        display: inline;
    }
}