.advertisement {
  padding: 80px 10px;
}

.advertisement-container {
  max-width: 375px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.advertisement-text {
  font-size: 48px;
  font-weight: 600;
  line-height: 1.04;
  letter-spacing: -0.015em;

  color: #141414;
  text-transform: uppercase;
}

.advertisement-span {
  color: #fbfbfb;
  border-radius: 12px;
  background-color: #576f35;
  display: block;
  padding-top: 3px;
  padding-right: 10px;
  padding-left: 10px;
}

@media screen and (min-width: 768px) {
  .advertisement {
    padding: 100px 16px;
  }

  .advertisement-container {
    max-width: 768px;
  }

  .advertisement-text {
    font-size: 64px;
    line-height: 1.09;
    letter-spacing: -0.015em;
    max-width: 704px;
  }

  .advertisement-span {
    display: inherit;
    max-width: 704px;
    padding-top: 8px;
    padding-right: 16px;
    padding-left: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .advertisement {
    padding: 100px;
  }
  .advertisement-container {
    max-width: 1280px;
  }

  .advertisement-text {
    max-width: 1054px;
    font-size: 76px;
    line-height: 1.05;
    letter-spacing: -0.015em;
  }

  .advertisement-span {
    display: inline-block;
    max-width: 1054px;
    padding-left: 13px;
    padding-top: 0;
    padding-right: 0;
  }
}
