.modal-input:valid {
  border-radius: 30px;
  border: 1px solid #3cbc81;
}

.modal-input:invalid {
  border-radius: 30px;
  border: 1px solid #e74a3b;
}
*/ .your-order {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: var(--red-background);
}

.order-title {
  margin-bottom: 29px;
  font-size: 48px;
  font-weight: 600;
  line-height: 104.17;
  letter-spacing: -0.015em;
  text-transform: uppercase;
}
.order-accent {
  color: rgba(251, 251, 251, 0.3);
}
.order-text-description {
  margin-bottom: 40px;
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 500;
  line-height: 128.57;
}
.modal {
  padding: 40px 20px;
  border-radius: 30px;
  background: #fbfbfb;
}
.modal-title {
  margin-bottom: 40px;
  color: #141414;
  font-size: 24px;
  font-weight: 600;
  line-height: 108.33;
  letter-spacing: -0.015em;
  text-transform: uppercase;
}
.modal-accent-first {
  color: #7a3145;
}
.modal-accent-second {
  color: #576f35;
}
.modal-input {
  margin-bottom: 15px;
}
.modal-textarea {
  margin-bottom: 20px;
}
.modal-btn {
}
.order-social-networks {
  padding: 40px 20px;
  border-radius: 30px;
  background: #576f35;
}
.your-order-img {
}
.order-text-follow {
}
.order-link {
}
