/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/

@import url('./01-header.css');
@import url('./02-hero.css');
@import url('./03-how-it-works.css');
@import url('./04-advertisement.css');
@import url('./05-vegetables.css');
@import url('./06-reviews.css');
@import url('./07-your-order.css');
@import url('./08-footer.css');
@import url('./reset.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --black-text-color: #141414;
  --light-text-color: #fbfbfb;
  --green-background: #576f35;
  --red-background: #7a3145;
  --valid-color: #3cbc81;
  --invalid-color: #e74a3b;
}

body {
  color: var(--light-text-color);
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-style: normal;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
}

@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 100px;
  }
}
